/* Estilos para o header */

.header {
    background-color: crimson;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 40px);
    border-radius: 16px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 12px;
}

.header-logo img {
    height: 32px;
}

.header-nav-center ul {
    display: flex;
    gap: 2.5rem;
}

.header-nav-center a,
.header-nav-right a {
    font-size: 1.25rem;
}

.header-nav-center a:hover,
.header-nav-right a:hover {
    color: #7c3aed;
}

.header-nav-right ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.header-nav-right img {
    height: 20px; 
}

.header-nav-right a:hover img{
    opacity: 0.7;
}