/* Estilos para as sections categories */

.categories-section {
    display: flex;
    padding: 40px 40px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.category-card {
    position: relative;
    width: 317px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
}

.overlay {
    inset: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.category-name {
    position: absolute;
    text-align: center;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.casual {
    background: url(../images/products/casual.jpg) no-repeat center;
    background-size: cover;
}

.esporte {
    background: url(../images/products/esporte.jpg) no-repeat center;
    background-size: cover;
}

.moderno {
    background: url(../images/products/moderno.jpg) no-repeat center;
    background-size: cover;
}

.futurista {
    background: url(../images/products/futurista.jpg) no-repeat center;
    background-size: cover;
}